@model GreatLand.Models.CustTaskModel

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Coushatta/_Layout.cshtml";

}

<h2>Reservation Review</h2>
@using (Html.BeginForm("Sub", "Coushatta"))
{
    @Html.ValidationSummary(true)

    <center>
        <div>
            <table>
                <tr><td> <div style="font-family:Verdana; font-size:small; font-weight:bold; text-align:left">LOCATION DETAILS </div> </td></tr>
                <tr><td><div style="font-family:Verdana; font-size:medium; text-align:left">@TempData["Courses"]</div></td></tr>
            </table>
            <table cellpadding="25" height="0">
                @foreach (var item in ViewData["route"] as List<GreatLand.Models.Routes>)
                {
                    <tr>
                        <th style="background-color:darkcyan; font-family:Verdana; font-size:medium; width:10%">
                            Route
                        </th>
                        <th style="background-color:darkcyan; font-family:Verdana; font-size:medium; width:15%">
                            Travel Date
                        </th>
                        <th style="background-color:darkcyan; font-family:Verdana; font-size:medium; width:15%">
                            Depart
                        </th>
                        <th style="background-color:darkcyan; font-family:Verdana; font-size:medium; width:15%">
                            Arrive Casino
                        </th>
                        <th style="background-color:darkcyan; font-family:Verdana;font-size:medium; width:15%">
                            Depart Casino
                        </th>
                        <th style="background-color:darkcyan; font-family:Verdana;font-size:medium; width:15%">
                            Return Time
                        </th>
                    </tr>
                        <tr>
                            <td style="font-family:Verdana;font-size:medium; width:10%">
                                @item.Route
                            </td>
                            <td style="font-family:Verdana;font-size:medium; width:15%">
                                @item.Day
                            </td>
                            <td style="font-family:Verdana;font-size:medium; width:15%">
                                @item.Depart
                            </td>
                            <td style="font-family:Verdana;font-size:medium; width:15%">
                                @item.ArriveCasino
                            </td>
                            <td style="font-family:Verdana;font-size:medium; width:15%">
                                @item.DepartCasino
                            </td>
                            <td style="font-family:Verdana;font-size:medium; width:15%">
                                @item.ReturnTime
                            </td>
                        </tr>
                }
            </table>
        </div>
    </center>

    <center>
              <div>
                <br />
                <br />

                <table border="0">

                    <tr>
                        <td><div class="editor-label" style="text-align:left"><a href=@Url.Content("/Home/Policy") target="_blank">Travel Disclosure</a></div></td>


                        <td>
                            <div class="editor-field">
                                @{
                                    var TRitems = new SelectList(new[]
                                    {
                                            new SelectListItem {Text = "1", Value = "Please read the Travel Disclosure" },
                                            new SelectListItem {Text = "2", Value = "I have read the Travel Disclosure" },
                                        }, "Text", "Value");
                                }
                                @Html.DropDownListFor(model => model.TravelDisclosure, @TRitems, new { @onchange = "ShowHideDiv(this.value)" })
                                @Html.ValidationMessageFor(model => model.TravelDisclosure)
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td style="visibility:hidden">
                            <div class="editor-label" style="text-align:right">
                                Route
                            </div>
                        </td>
                        <td style="visibility:hidden">
                            <div class="editor-field">
                             
                                @Html.EditorFor(model => model.Route)
                                @Html.ValidationMessageFor(model => model.Route)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>First Name</strong>
                            </div>
                        </td>
                        <td style="width:400px">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>                  
                    
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Last Name</strong>
</div>
                        </td>
                        <td style="width:400px">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.LastName)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Email</strong>
</div>
                        </td>
                        <td style="width:400px">
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Phone</strong>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Phone)         
                            </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Comments</strong>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Notes)     
                            </div>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><div class="editor-label" style="text-align:left"><Strong># of Passengers </Strong></div></td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.SeatsNumber)                               
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Passenger 1</strong>
                            </div>
                        </td>
                        <td>
                            <div id="dvPassport" class="editor-field">
                                @Html.DisplayFor(model => model.Traveler1Name)   
                            </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Passenger 2</strong>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Traveler2Name)                                
                            </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Passenger 3</strong>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Traveler3Name)                        
                            </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Passenger 4</strong>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Traveler4Name)                                
                            </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Passenger 5</strong>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Traveler5Name)                                
                            </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label" style="text-align:left">
                                <strong>Passenger 6</strong>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Traveler6Name)                                
                            </div>
                    </tr>


                </table>

            </div>
            <div style="align-items:center">
                <!--<input type="submit" value="Create" />-->
                click Submit to continue
                <br />
                <input type="submit" value="Submit" name="action" />
            </div>

    </center>

    @*
        <div class="editor-field">
            @Html.EditorFor(model => model.UpDate)
            @Html.ValidationMessageFor(model => model.UpDate)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>
    *@
                                    <div style="visibility:hidden">
                                        @Html.TextBoxFor(model => model.Date)
                                        @Html.EditorFor(model => model.FirstName)   
                                        @Html.EditorFor(model => model.LastName)
                                        @Html.EditorFor(model => model.Email)
                                        @Html.EditorFor(model => model.Phone)
                                        @Html.TextAreaFor(model => model.Notes)
                                        @{
                                            var items = new SelectList(new[]
                                            {
                                            new SelectListItem {Text = "1", Value = "1" },
                                            new SelectListItem {Text = "2", Value = "2" },
                                             new SelectListItem {Text = "3", Value = "3" },
                                            new SelectListItem {Text = "4", Value = "4" },
                                             new SelectListItem {Text = "5", Value = "5" },
                                            new SelectListItem {Text = "6", Value = "6" },
                                        }, "Text", "Value");
                                        }
                                        @Html.DropDownListFor(model => model.SeatsNumber, @items, new { @onchange = "ShowHideDiv(this.value)" })

                                        @Html.EditorFor(model => model.Traveler1Name)
                                        @Html.EditorFor(model => model.Traveler2Name)
                                        @Html.EditorFor(model => model.Traveler3Name)
                                        @Html.EditorFor(model => model.Traveler4Name)
                                        @Html.EditorFor(model => model.Traveler5Name)
                                        @Html.EditorFor(model => model.Traveler6Name)
                            

                             
                                    </div>


                                    }
<p>
    @*Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
