<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GreatLand</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssjqueryui")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymin")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryuimin")


</head>5
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Casino Trips <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("L'Auberge", "Index", "Lauberge")</li>
                            <li>@Html.ActionLink("Coushatta", "Index", "Coushatta")</li>
                            <li>@Html.ActionLink("Delta Downs", "Index", "DeltaDowns")</li>
                            <li>@Html.ActionLink("Golden Nugget", "Index", "GoldenNugget")</li>                     
                            <li>@Html.ActionLink("Isle of Capri", "Index", "IsleofCapri")</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Charters", "Charters", "Home")</li>*@
                    <li>@Html.ActionLink("Reservation & Travel Policies", "Policy", "Home")</li>
                    <li>@Html.ActionLink("Office", "Index", "Office")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>           
        </div>
    </div>
    <div class="container body-content">
        <div><img src="~/Content/Images/logo.png" alt="GreatLand"> </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GreatLand Tours</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

