@model  List<GreatLand.Models.Routes>
@using GridMvc.Html
@{
    ViewBag.Title = "Delta Downs";
}

<h2>Delta Down Casino Office Report</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Office</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

</head>
<body>

    @using (Html.BeginForm("DeltaDownsIndex", "Office"))
    {



        @Html.DropDownList("SearchValue", ViewData["Location"] as List<SelectListItem>, new { @onchange = "this.form.submit();" })

        <div>
            @Html.Partial("DeltaDownsPartialView1", Model)

        </div>


        <div>
            @*Html.Partial("PartialView2", new GreatLand.Models.PartialViewModel { PartialView2Message = Model.PartialView2Message })*@
        </div>


    }
</body>
</html>